@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.landing {
  background-image: url('./vectors/Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.App {
  padding-top: 10%;
  position: static;
  text-align: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.LineGraph {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Data-title {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;

<<<<<<< Updated upstream
  color: #FFFFFF;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.50);
=======
  color: #ffffff;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
.data {
  display: flex;
  line-height: 20px;
>>>>>>> Stashed changes
}

.MyData {
<<<<<<< Updated upstream
  background-color: #1C2016;
  overflow: auto;
=======
  background-color: #1c2016;
  overflow: scroll;
>>>>>>> Stashed changes
  height: 100vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  
}

.top10tracks {
  padding: 10px;
  width: auto;
  display: inline-block;
  outline: 2px black;
  color: black;
<<<<<<< Updated upstream
  background: #E6E49F;
  box-sizing: border-box;
=======
  background: #e6e49f;
  box-sizing: content-box;
>>>>>>> Stashed changes
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

}

.chart {
  display: inline-block;
  outline: 1px blue;
  background-color: antiquewhite;
<<<<<<< Updated upstream
=======
  display: inline-block;
  width: 100%;
}
.chartBtn {
  display: flex;
  justify-content: center;
>>>>>>> Stashed changes
}


.signIn {
  width: 175px;
  height: 45px;

  background: #E6E49F;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #25291C;
}

.signIn:hover {
  background: #E3E7D3;
  text-shadow: px 4px 4px rgba(0, 0, 0, 0.25);
}

.App-title {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 84px;

  color: #FFFFFF;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.50);
}

.App-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 56px;
  text-align: center;

  color: #FFFFFF;

}
.chartHeader {
  color:black;
}

.chartTitle {
<<<<<<< Updated upstream
  color:black;
}
=======
  color: black;
}

.li-track {
  line-height: 25px;
  font-family:monospace;
  font-size: 150%;
  position: left;
}

.li-artist
 {
  line-height: 25px;
  font-family:monospace;
  font-size: 110%;
  position: left;
  color: rgb(54, 54, 54);
}
>>>>>>> Stashed changes
