@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

.landing {
  background-image: url("./vectors/Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.App {
  padding-top: 10%;
  position: static;
  text-align: center;
  background-size: cover;
  height: 100vh;
  color: white;
}

.LineGraph {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.applogo{
  position:relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Data-title {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  margin-top: -8%;

  color: #ffffff;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
.data {
  display: flex;
}
.MyData {
  background-color: #1c2016;
  overflow: auto;
  height: 100vh;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

.top10tracks {
  padding: 3vh;
  width: auto;
  display: flex;
  outline: 2px black;
  color: black;
  background: #e6e49f;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
canvas {
  justify-content: center;
}
.chart {
  outline: 1px blue;
  background-color: antiquewhite;
  display: inline-block;
  width: 100%;
  padding-left: 0%;
}
.chartBtn {
  display: flex;
  justify-content: center;
}

.signIn {
  width: 175px;
  height: 45px;

  background: #e6e49f;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #25291c;
}

.signIn:hover {
  background: #e3e7d3;
  text-shadow: px 4px 4px rgba(0, 0, 0, 0.25);
}

.App-title {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 84px;

  color: #ffffff;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}

.App-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 56px;
  text-align: center;

  color: #ffffff;
}

ul {
  list-style-type: none;
}
.chartHeader {
  color: black;
}

.chartTitle {
  color: black;
}

.displaychart {
  width: 175px;
  height: 45px;

  background: #e6e49f;
  border: 2px solid #000000;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-top: 10px;
  margin-inline: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  color: #25291c;
}

.displaychart:hover {
  background: #e3e7d3;
  text-shadow: px 4px 4px rgba(0, 0, 0, 0.25);
}